---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
	<!-- <MainMenu /> -->

	<section class="relative flex flex-col items-center justify-center h-screen mt-[64px]">
		<container class="relative z-10 w-full h-full flex items-center justify-center px-4">
			<div class="flex flex-col items-center gap-8 max-w-[1080px] h-full text-center">
				<div class="flex gap-3 items-center justify-center px-4 py-1 bg-(--color-skyBlue)/30 border-[0.5px] border-(--color-skyBlue)/80">
					<strong class="text-sm text-white">Status</strong>
					<div class="flex items-center justify-center w-[0.5px] h-5 bg-(--color-skyBlue)/80"></div>
					Continuously Seeking
				</div>
				<h1 class="text-5xl font-geist font-semibold text-white">
					Building solutions with design and code
				</h1>
				<p class="text-xl text-(--color-Timberwolf) font-geist">
					I'm a problem solver with a passion for building solutions that are not only functional, but also intuitive.
				</p>
			</div>
			<div class="flex items-center justify-center gap-4">
				
			</div>
		</container>
	</section>

	<!-- <FooterMenu /> -->
</MainLayout>

<style>

</style>