---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
	<!-- <MainMenu /> -->

	<section class="relative flex flex-col items-center justify-center h-screen">
		<container class="relative z-10 w-full h-full flex items-center justify-center px-4">
			<div class="flex flex-col items-center justify-center gap-8">
				<div class="flex gap-3 items-center justify-center px-4 py-1 bg-(--color-skyBlue)/30 border-[0.5px] border-(--color-skyBlue)/80">
					<strong class="text-sm text-white">Status</strong>
					<div class="flex items-center justify-center w-[0.5px] h-5 bg-(--color-skyBlue)/80"></div>
					Continuously Seeking
				</div>
				<h1 class="text-4xl font-geist text-white">Implementing solutions with code and communication</h1>
				<p class="text-lg text-white font-geist">I'm a support engineer with a passion for building solutions that are both functional and efficient. I'm currently working on a project to help problem solvers.</p>
			</div>
		</container>
	</section>

	<!-- <FooterMenu /> -->
</MainLayout>

<style>

</style>